# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.

SPOTIFY_BASE_API_URL={{Spotify web API URL. More https://developer.spotify.com/documentation/web-api/}}
SPOTIFY_AUTHORIZATION_API_URL={{Spotify authorization API URL. More https://developer.spotify.com/documentation/general/guides/authorization-guide/#client-credentials-flow}}
SPOTIFY_CLIENT_ID={{Your spotify client id. More https://developer.spotify.com/dashboard/applications}}
SPOTIFY_CLIENT_SECRET={{Your spotify client secret. More https://developer.spotify.com/dashboard/applications}}
